<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <div class="positioned">
        <!-- ####################################################################################################### -->
        <div class="hgroup">
          <h1>!</h1>
          <h2>404<br>
            Error</h2>
        </div>
        <p>Go <a href="javascript:history.go(-1)">Back</a> <strong>OR</strong> Visit Our <a href="#">Homepage</a></p>
      </div>
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>