{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <h2>Backend Questions</h2>
  </div>
  <br>
  <div class="row">
  	<h3>Question 1:</h3>
  </div>
	<div class="row">
  	<p>Thinking about execution time and delivering results with the limited number of people working I would choose the agile development method (SCRUM), using Kanban for quick separation of tasks and easy tracking of results and execution times. With this we would have at hand a simple and direct way of recognizing the real problems to be solved, effective communication among the members of the team, as well as greater possibilities of success according to the client's requirements.</p>
	</div>
  <div class="row">
    <h3>Question 2:</h3>
  </div>
	<div class="row">
		<p>This is the ERD that simply describes the functionality of Instagram:</p>
    <img src="../../img/ERD_Instagram.png" alt="Smiley face">
	</div>
  <div class="row">
    <h3>Question 3:</h3>
  </div>
  <div class="row">
    <p>Assembling a system, in my point of view, should take a few steps: Database Modeling, Resource Allocation, Checking the Required Technologies, Composing the File Structure, and Finally Starting Development. In the case of our Instagram, a lean database with few tables, focused on keeping only key system usage data such as login data and posts. The features required for system implementation are also very basic: application server, database server, domain rental, and a third-party application for technical support to end users. The project would work with a framework based on Node.JS to streamline the flow of the site and give a more dynamic experience to the user. The backend can be done in REST API, just for database operations, such as Insert, Delete, Update and Select. With all this in hand, just start working!!!</p>
  </div>
  <br><br>
</div>
{% endblock %}