{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <h2>Backend Questions</h2>
  </div>
  <br>
  <div class="row">
  	<h3>Question 1:</h3>
  </div>
	<div class="row">
  	<ul>
  		<li>If you are viewing this webpage, problably (and at this point I'm sure that is certantly) all the system that i did is working perfectly;</li>
  		<li>All the tests you wanted me to do is in the navigation bar above, and the source code for the "general questions" are downloadable and / or written in the respective webpage;</li>
  		<li>The answer is 42;</li>
  		<li>The cake is a lie.</li>
		</ul>
	</div>
  <div class="row">
    <h3>Question 2:</h3>
  </div>
	<div class="row">
		<p>This is the ERD that simply describes the functionality of Instagram:</p>
    <img src="../../img/ERD_Instagram.png" alt="Smiley face">
	</div>
</div>
{% endblock %}