{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <h2>Welcome to the jungle.... I mean, The Test!</h2>
  </div>
  <div class="row">
  	<p>Before we start let me explain some useful tips for this site:</p>
  </div>
	<div class="row">
  	<ul>
  		<li>If you are viewing this webpage, problably (and at this point I'm sure that is certantly) all the system that i did is working perfectly;</li>
  		<li>All the tests you wanted me to do is in the navigation bar above, and the source code for the "general questions" are present in the path "root/backend/Principal.php";</li>
  		<li>The answer is 42;</li>
  		<li>The cake is a lie.</li>
		</ul>
	</div>
	<div class="row">
		<p>That being said, now you can navigate through the site, enjoy it! ;)</p>
	</div>
</div>
{% endblock %}