{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
  	<p>NOTICE: In the email sended, you said to me to solve only questions 1, 2 and 4... BUT you gave me questions 1, 3, 4 and 5. So I decided to solve EVERYTHING. Good or not, what you asked for was solved anyway.</p>
  </div>
</div>
<br>
<div class="container-fluid" id="bubble">
  <div class="row">
  	<h3>Game of Stones</h3>
  	<form id="formTweet">
	  <div class="form-group">
	    <label for="cases"></label>
	    <input type="text" class="form-control" id="cases" placeholder="Type the number of tests cases you want to do">
	  </div>
	  <button id="btnSubmit" type="submit" class="btn btn-default">Play</button>
	</form>
  </div>
  <br>
  <br>
  <h4>Test Cases:</h4>
  <br>
  <div class="row" id="list">
  </div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		var frm = $('#formTweet');
	    frm.submit(function (ev) {
	        $('#btnSubmit').prop("disabled",true);

	        //Validate fields if required using jQuery
	        var postForm = { //Fetch form data
	            'cases': $('#cases').val() //Store name fields value
	        };

	        $.ajax({ //Process the form using $.ajax()
	            type: 'POST', //Method type
	            url: '/stones/game', //Your form processing file URL
	            data: postForm, //Forms name
	            dataType: 'json',
	            beforeSend: function(){
			    // Handle the beforeSend event
			    	alert("sending...");
				},
				complete: function(data){
				// Handle the complete event
	            	//console.log(data);
				}
	    	})
	    	.done(function(data) {
		 		console.log(data);

		 		var html = "<div class='row'>";

		 		$.each(data, function(index, value){
		 			console.log(index+" / "+value);
		 			html += "<p>Case: "+index+" / Winner: "+value+"</p><br>";
		 		});
		 		html += "</div>";
		 		$('#list').html(html);
			});
	    	$('#btnSubmit').prop("disabled",false);
	    	ev.preventDefault();
	    });
    });
</script>
{% endblock %}